node-red-flow-ethernetip-to-lorawan.json
[{"id":"d6ceedd3.dc6aa","type":"tab","label":"EtherNetIP to LoRaWAN","disabled":false,"info":""},{"id":"b061f587.fed718","type":"file","z":"d6ceedd3.dc6aa","name":"","filename":"/home/pi/raspi-lmic/examples/ttn-otaa/missatge.txt","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":250,"y":80,"wires":[[]]},{"id":"7c42f1f0.e877a","type":"inject","z":"d6ceedd3.dc6aa","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hola","payloadType":"str","x":110,"y":20,"wires":[["b061f587.fed718"]]},{"id":"ab56e0a1.669df","type":"debug","z":"d6ceedd3.dc6aa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":140,"wires":[]},{"id":"9eead2f8bb767362","type":"eth-ip in","z":"d6ceedd3.dc6aa","endpoint":"048cb2bf1a457792","mode":"single","variable":"IoT_data","program":"","name":"","x":100,"y":140,"wires":[["b061f587.fed718","ab56e0a1.669df"]]},{"id":"048cb2bf1a457792","type":"eth-ip endpoint","z":"d6ceedd3.dc6aa","address":"192.168.1.2","slot":"0","cycletime":"2000","name":"","vartable":{"":{"IoT_data":{"type":"DINT"}}}}]